<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @order.user.email %> </h1>
    <p>
      Merci d'avoir commandé sur notre site, pour plus d'information sur ta commande tu peux nous contacter directement depuis <a href= https://e-shop-thp.herokuapp.com/> le site </a>.
    </p>

  </body>
</html>