<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1>Une nouvelle commande a été passé sur le site ouais !</h1>
    
    <p> À très vite sur E-kitty.fr !
  </body>
</html>