<h1> Nous contacter </h1>
</br>

<form>
    <fieldset>

        <div class="form-group">
            <label for="exampleInputEmail1">Adresse mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleTextarea">Votre message</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>

    </fieldset>

    <button type="submit" class="btn btn-primary">Envoyer</button>

    </fieldset>
</form>

</br></br></br></br>