body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main {
  flex: 1;
}

.border {
  border:none;
}

.stripe-button-el {
  width: 670px;
  
}

button.stripe-button-el>span {

  background-image: none;
  border:none;
}