<footer class=" footer page-footer font-small blue pt-4 bg-primary text-white sticky-bottom mt-5">
  <div class="container-fluid text-center text-md-left text-white">

    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase text-dark">E-Kitty</h5>
        <p>On a tant à partager !</p>
        <a class="text-white" href="/statics/contact">Contact</a>
      </div>
     </div>
 
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" class = "text-white"> MDBootstrap.com</a>
  </div>
  </div>

</footer>