<% flash.each do |key, value| %>
  <% if key == "success" %>
    <div class="alert alert-dismissible alert-success text-center my-2">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <h4 class="alert-heading"> Success ! </h4>
      <p class="text-center"> <%= value %> </p>
    </div>
  <% elsif key == "error" %>
        <div class="alert alert-dismissible alert-danger text-center my-2">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <h4 class="alert-heading"> Error ! </h4>
          <p class="text-center"> <%= value %> </p>
        </div>
  <% elsif key == "notice" %>
      <div class="alert alert-dismissible alert-warning text-center my-2">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <h4 class="alert-heading"> Notice ! </h4>
        <p class="text-center"> <%= value %> </p>
      </div>
  <% elsif key == "alert" %>
      <div class="alert alert-dismissible alert-warning text-center my-2">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <h4 class="alert-heading"> Warning !</h4>
        <p class="text-center"> <%= value %> </p>
      </div>
  <% end %>

<% end %>